*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul,li{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

body{
    font-family:'Pretendard', sans-serif;

    background:
    radial-gradient(circle at top,
    #fff6fb,
    #fefcff 60%);

    overflow-x:hidden;

    color:#a78ea0;
}